<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
<h3>test word: <%= @word%></h3>
<form action="/hack" method="post">
<input type="text" name="hack">
<input type="submit" value="更新">
</form>
</body>
</html>
